{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Hello, world!</title>
  <style>
    body {
      background-color: black;
      font-size: 0.87rem;
    }


    .alert-dismissible {
      height: 100px;
      padding: 20px;
    }

    .alert-danger {
      color: black;
    }
    .pagination{
      width: 100%;
    }          
    #lund{
      font-size: 0.75rem;
      padding-left: 14px;
    }
  </style>
</head>

<body>
  {% load static %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert"
    style='background-image:url( "{%static 'back.jpg' %}");'>
    <strong>Holy guacamole!</strong> You have reached to the founder of this page!!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/bblock">Previous</a></li>
      <li class="page-item"><a class="page-link"
          href="https://www.facebook.com/profile.php?id=100012299617071">facebook</a></li>
      <li class="page-item"><a class="page-link" href="https://www.instagram.com/">Instagram</a></li>
      <li class="page-item"><a class="page-link" href="/">Exit</a></li>

    </ul>
  </nav>
  <div class="container">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">
        NAME: VARUN KUMAR JHA
      </a>

      <a href="#" class="list-group-item list-group-item-action">BRANCH:MME</a>
      <a href="#" class="list-group-item list-group-item-action">HOMETOWN:MUZAFFARPUR</a>
      <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1"
        aria-disabled="true">CGPA:7.74</a>
      <a href="#" class="list-group-item list-group-item-action" id="lund"><span>SKILLS: python,HTML,CSS,JAVASCRIPT,DJANGO,BOOTSTRAP</span></a>

      <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Just a
        writer pursuing engineering</a>
    </div>
    <br>
    <form action="photo">
      <button type="submit" class="btn btn-dark"><a href="/bblock/photo">Click to see founder's photos</a></button>
    </form>
  </div>





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>